# Tim Inti (Core Team) adalah pemilik default untuk semua file di repositori ini.
*       @Lumina-Enterprise-Solutions/Core-Team

# Perubahan pada CI/CD harus direview oleh Tim DevOps.
.github/workflows/   @Lumina-Enterprise-Solutions/DevOps-Team

# Dockerfile adalah tanggung jawab bersama antara Tim Inti dan Tim Platform.
Dockerfile          @Lumina-Enterprise-Solutions/Core-Team @Lumina-Enterprise-Solutions/Platform-Team

# Perubahan pada dependensi (go.mod, go.sum) memerlukan persetujuan dari Tim Arsitektur.
go.mod              @Lumina-Enterprise-Solutions/Architecture-Team
go.sum              @Lumina-Enterprise-Solutions/Architecture-Team

# Logika inti terkait repositori dan service memerlukan pengawasan dari Tim Arsitektur.
main.go                     @Lumina-Enterprise-Solutions/Architecture-Team @Lumina-Enterprise-Solutions/Core-Team
internal/service/           @Lumina-Enterprise-Solutions/Architecture-Team @Lumina-Enterprise-Solutions/Core-Team
internal/repository/        @Lumina-Enterprise-Solutions/Core-Team
